body{
    background-image: url("https://cdn.hipwallpaper.com/i/89/25/NmiRKl.jpg");
    background-attachment: fixed;
    width: 100%;
}

.main-ph-container{

}

nav{
    background-image: url("https://cdn.hipwallpaper.com/i/89/25/NmiRKl.jpg");
}
footer{
    font-size: 200%;
    background-image: url("https://cdn.hipwallpaper.com/i/89/25/NmiRKl.jpg");
}